#content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  display: flex;
}

.menu-button {
  padding: 5px;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 10px
}

#booklist {
  list-style-type: none;
  padding: 0px;
  margin-top: 10px;
}

.book {
  height: 40px;
}

.book-title {
  margin: 0;
}

.book-summary {
  margin: 5px 0 0 0;
}

.loading {
  opacity: 0.6;
}
